* {
  padding: 0;
  margin: 0;
  font-family: "Dongle", sans-serif;
}
/* styles for the header section */
header {
  display: flex;
  justify-content: space-between;
  background-color: #dfe2f5;
}
h1,
h2,
h3 {
  font-weight: 700;
}
/* styles for the intro section */
#background-image {
  background-image: url("first.png");
  width: 100%;
  height: 550px;
  background-repeat: no-repeat;
}
#section-one {
  width: 500px;
  color: #fff;
  padding-top: 150px;
  padding-left: 50px;
}
#section-one h1 {
  font-size: 75px;
  line-height: 60px;
  padding-bottom: 10px;
}
#section-one p {
  font-size: 31px;
  padding-bottom: 10px;
  line-height: 30px;
  font-weight: 400;
}
.order {
  font-size: 20px;
  background-color: #f49833;
  color: #fff;
  margin-right: 30px;
  border: 1px solid #f49833;
  border-radius: 5px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
}
.view {
  font-size: 20px;
  background-color: transparent;
  color: #f49833;
  border: 1px solid #f49833;
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;
}
/* styles for the three images  */
#sec2 {
  text-align: center;
  background-color: #dfe2f5;
  padding-top: 15px;
}
#sec2 h2 {
  padding-bottom: 2px;
  font-size: 50px;
}
.pic {
  width: 270px;
}
#food-price {
  display: flex;
  padding-top: 20px;
  justify-content: space-around;
  align-content: center;
}
.foods {
  width: 290px;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: -50px;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
}
.foods h3 {
  font-size: 30px;
}
#food1 {
  border-radius: 10px;
  border: 1px solid #f49833;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  width: 270px;
}
.foods p {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 400;
  font-size: 23px;
  line-height: 20px;
}
.now {
  font-size: 20px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f49833;
  color: #fff;
  border: 1px solid #f49833;
  border-radius: 5px;
}
.empty {
  width: 100%;
  height: 150px;
  background-color: #cbcceb;
}

/* styles for the chef section */
#chef {
  background-image: url("afro chef.png");
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
}
#chef-section {
  width: 638px;
  background-color: #dfe2f5;
  height: 350px;
  padding-left: 50px;
  padding-top: 150px;
}
#chef-section h1 {
  font-size: 50px;
}
#chef-section p {
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  width: 435px;
  padding-bottom: 40px;
}
/* styling for the people section */
#people {
  text-align: center;
  background-color: #dfe2f5;
  padding-bottom: 10px;
}
#people h2 {
  font-size: 50px;
  padding-top: 25px;
  margin-bottom: -15px;
}
#people-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
#pic1,
#pic3 {
  width: 150px;
}
#pic2 {
  width: 200px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 35px;
}
#people p{
  width: 500px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}
#paragraph{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#paragraph h3{
  font-size: 25px;
  padding-top: 20px;
  margin-bottom: -15px;  
}
/* styling for the feedback section */
#feedback {
  background-color: #f49833;
}
/* styling for the footer */
footer {
  background-color: #dfe2f5;
}
#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
